<div class ="center jumbotron">
<h1>DemoApp</h1>
<p>Welcome to Andrew's DemoApp (which is better than Paul's)</p>
<img src = "http://a3.files.biography.com/image/upload/c_fill,dpr_1.0,g_face,h_300,q_80,w_300/MTE1ODA0OTcxNzc2Mzc4Mzgx.jpg">
<p>  <p>
  <p style="text-align:center">It is better because:<p>
<ol>
  <li style="text-align:center">it has more than one line of text
  <li style="text-align:center">it has a list
  <ol>
    <p>  <p>
    <%= link_to "Sign Up Here!", "users/new", class: "btn btn-lg btn-primary" %>
        <div>
